<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Add_Personal_Details</servlet-name>
        <servlet-class>myServlets.Add_Personal_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit_Education_Details</servlet-name>
        <servlet-class>myServlets.Edit_Education_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Education_Details</servlet-name>
        <servlet-class>myServlets.Add_Education_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit_Experience_details</servlet-name>
        <servlet-class>myServlets.Edit_Experience_details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Experience_Details</servlet-name>
        <servlet-class>myServlets.Add_Experience_Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit_Profile_pic</servlet-name>
        <servlet-class>myServlets.Edit_Profile_pic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload_Resume</servlet-name>
        <servlet-class>myServlets.Upload_Resume</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Resume_Builder</servlet-name>
        <servlet-class>myServlets.Resume_Builder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download_Resume</servlet-name>
        <servlet-class>myServlets.Download_Resume</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Job</servlet-name>
        <servlet-class>myServlets.Add_Job</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyForJob</servlet-name>
        <servlet-class>myServlets.ApplyForJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobSearchByTechnology</servlet-name>
        <servlet-class>myServlets.JobSearchByTechnology</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobSearchByLocation</servlet-name>
        <servlet-class>myServlets.JobSearchByLocation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchJobResult</servlet-name>
        <servlet-class>myServlets.SearchJobResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact_us</servlet-name>
        <servlet-class>myServlets.Contact_us</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Personal_Details</servlet-name>
        <url-pattern>/Add_Personal_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_Education_Details</servlet-name>
        <url-pattern>/Edit_Education_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Education_Details</servlet-name>
        <url-pattern>/Add_Education_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_Experience_details</servlet-name>
        <url-pattern>/Edit_Experience_details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Experience_Details</servlet-name>
        <url-pattern>/Add_Experience_Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_Profile_pic</servlet-name>
        <url-pattern>/Edit_Profile_pic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload_Resume</servlet-name>
        <url-pattern>/Upload_Resume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Resume_Builder</servlet-name>
        <url-pattern>/Resume_Builder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download_Resume</servlet-name>
        <url-pattern>/Download_Resume</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Job</servlet-name>
        <url-pattern>/Add_Job</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyForJob</servlet-name>
        <url-pattern>/ApplyForJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobSearchByTechnology</servlet-name>
        <url-pattern>/JobSearchByTechnology</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobSearchByLocation</servlet-name>
        <url-pattern>/JobSearchByLocation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchJobResult</servlet-name>
        <url-pattern>/SearchJobResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact_us</servlet-name>
        <url-pattern>/Contact_us</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    //***************************mapping start for Register servlet
    <filter>
        <filter-name>filterreg</filter-name>
        <filter-class>myServlets.FilterRegister</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filterreg</filter-name>
        <url-pattern>/reg</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>demoreg</servlet-name>
        <servlet-class>myServlets.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>demoreg</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    //***************************mapping closed for Register servlet 
    
    
    //***************************mapping start for Login servlet
    <servlet>
        <servlet-name>demologin</servlet-name>
        <servlet-class>myServlets.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>demologin</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    //***************************mapping close for Register servlet
    
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>myServlets.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>myServlets.LogOut</servlet-class>
    </servlet>
</web-app>
