/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 Jan, 2023, 8:53:09 PM
    Author     : Seeta Ram
*/
html{
    margin: 0px;
    padding: 0px;
}
.gray{
    background-color: gray;
}
.gray1{
    background-color: #d3d0d1;
}
.form_bg{
    background-color: #c2bdbc;
}
.black{
    background-color: #262629;
}
.blue{
    background-color: #8787e0;
}
.light{
    background-color: #f2f2f2;
}
.oranege{
    background-color: #fadfac;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,.col-md-10, .col-md-11,.col-md-12{
    padding: 10px 25px;
}
.snap-tittle{
    color: white;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}
.span-logo img{
    height:40px;
    cursor: pointer;
    padding-right: 10px;
}
.header-col3-content a{
    color: white;
    text-decoration:none;
}
.header-col3-content a:hover{
    text-decoration: underline;
    color: #fadfac;
}
#mynavbar1 ul{
    list-style: none;

}
#mynavbar1 ul li{
    float: left;
    padding: 5px 0px;
    padding-right: 80px;
}
#mynavbar1 ul li a{
    text-decoration: none;
    font-weight:500; 
    text-transform:capitalize;
}
#mynavbar1 ul li a:hover{
    text-decoration:overline;
    color: black;
}
.footer-c h5{
    color: white;
}
#footer-companies h5{
    margin-left: 150px;
    text-transform: capitalize;
}
#footer-companies h5:hover{
    cursor: pointer;
    text-decoration:underline;
    color: white;
}
.find_job_input{
    padding: 5px 10px;
    width: 300px
}

.job_search_div{

    text-align: center;
    box-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.register_form{
    padding: 5px 20px;
    width: 500px;
    margin: 0px 0px;
    border: 1px #e9ece;

}
.register_form:focus{
    box-shadow: 0 0 5px rgba(81,290,238,1);
}
.register_form:hover{
    cursor: pointer;
    border: 0.5px solid black;
}
.form_register{
    background-color:#f2f2f2;
    text-align: center;

}
.form_login{
    background-color:#f2f2f2;
    text-align: center;
}
.login_form{
    padding: 5px 20px;
    margin: 5px;
    width: 500px;
    border: 1px #e9ece;
}
.login_form:focus{
    box-shadow: 0 0 5px rgba(81,290,238,1);
}
.login_form:hover{
    cursor: pointer;
    border: 0 .5px #1a1e21 black;
}

.profile_menubar1 a{
    text-decoration: none;
    color: orange;
}
.profile_menubar2 a{
    color: black;
}
.profile_blue{
    color: #0033ff;
}
.profile_border{
    border: 2px solid gray;
    box-shadow: 2px 5px 5px gray;  
}
.profile_img{
    border: 2px solid black;
    border-radius: 5%;
}
.profile_icon{
    font-size: 12px;
    float: right;
}

.profile_education_icon{
    background-color: red;
}
.Add_Profile_form{
    padding: 4px 12px;
    width: 375px;
    margin: 0px 0px;
    border: 1px #e9ece;
}
.textfield_design
{
    padding: 5px 10px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid gray;
}
.textarea_design
{    
    padding: 5px 0px 70px 10px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid gray;
}
.textfield_design:focus
{
    background-color: #f2f2f2;
}
.add_job_width{
    width: 1000px;
    padding: 2px 50px;
}
.job_font2{
   
    color: #0c27a0;
    font-size: 16px;
    font-weight: 750;
        
}
.job_c{
    color:black;
    font-weight: 700;
    font-size: 14px;
}
.job_small{
    font-size: 13px;
}
.right{
    float: right;
}
.job_edit{
    margin: 1px; 
    background-color: #e8f0f9;
    padding: 10px;
}
.job_border{
    border: 2px solid gray;
}
.framestyle{
    width: 100%;
    height:300px;
}
.reg_div_design
{
    text-align: center;
    background-color: #f0f0f0;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}
.contact_form{
    text-align: center;
     
}
.display_job_div
{
    border: 1px solid gray;
    margin-top: 20px;
    background-color: #e8f3fe;
}
.center{
    text-align: center;
}
.padding ul li{
    padding: 20px;
    list-style: none;
}
.padding ul li a{
    text-decoration: none;
}
.About_img{
    background-image: url(../images/job-seekers-banner-image.jpg); 
}






